$main-width: 90vw;
.plan {
    width: $main-width;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    .content-container {
        width: max-content;
        min-width: 100%;
        height: 80vh;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        .screen-container {
            width: $main-width;
            min-height: 100%;

            .screensvg {
                width: 100%;
                height: 100%;

                .cls-1 {
                    fill: url(#linear-gradient);
                }

                .cls-2 {
                    fill: none;
                    stroke: #bcc7d6;
                    stroke-width: 2px;
                }

                .cls-3 {
                    fill: #464754;
                }

                .cls-4 {
                    isolation: isolate;
                }

                .cls-5 {
                    fill: #bcc7d6;
                }
            }
        }

        .seates-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -50vh;
            padding: 0 25px;

            .row {
                display: flex;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .plan {
        top: 50%;
        .content-container {
            .seates-container {
                margin-top: -63vh;
            }
        }
    }
}
@media only screen and (max-width: 950px) {
    $main-width: 90vw;
    .plan {
        width: $main-width;
        .content-container {
            .screen-container {
                width: $main-width;
            }
            .seates-container {
                margin-top: -45vh;
            }
        }
    }
}
@media only screen and (max-width: 760px) {
    .plan {
        .content-container {
            .seates-container {
                margin-top: -43vh;
            }
        }
    }
}
